body {
  background-image: url("../images/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.col-sm-8 {
  justify-content: center;
  background-color: white;
  text-align: center;
  align-self: center;
  margin-top: 10%;
  border-style: outset;
  height: inherit;
  transition: box-shadow 180ms ease-in;
  border-radius: 5%;
  margin-bottom: 10%;
}

.col-sm-8:hover {
  box-shadow: 5px 8px grey;
}

.form-control {
  align-self: center;
  align-content: center;
  width: 14cm;
  margin-left: 14%;
  height: 1.5cm;
}

.btn,
.btn-primary,
.btn-lg {
  width: 40%;
  background-color: rgb(224, 5, 97);
  border-color: rgb(224, 5, 97);
  font-family: sans-serif;
  transition: background-color 180ms ease-in;
  height: 1.5cm;
}

.btn,
.btn-primary,
.btn-lg:hover {
  background-color: rgb(224, 5, 97);
  border-color: rgb(224, 5, 97);
}

p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
}

h2 {
  font-weight: bold;
}
